{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Detal</th>
      </tr>
    </thead>
    <tbody>
      {% for rental in object_list %}
      <tr> 
        <th scope="row">{{ rental.id }}</th>
        <td>{{ rental.person.name}}, {{ rental.created_at }} </td>
        <td><a href="{% url 'rental-detail' rental.id %}" /> Detal</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
