<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rental/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
  Page
  <span class="page"></span>
  of
  <span class="pages"></span>
</div>

<div class="logo-container">
  <img
    style="height: 18px"
    src="{% static 'ags-logo.png' %}"
  >
</div>

<table class="invoice-info-container">
  <tr>
    <td rowspan="2" class="client-name">
      {{ rental.person }}
    </td>
    <td>
      AGS Agnieszka Sopel
    </td>
  </tr>
  <tr>
    <td>
      Sady 88
    </td>
  </tr>
  <tr>
    <td>
      Data wypożyczenia: <strong>{{ rental.created_at|date:"d M, Y" }}</strong>
    </td>
    <td>
      49-100, Niemodlin
    </td>
  </tr>
  <tr>
    <td>
      Dokument nr: <strong>{{ rental.id }}</strong>
    </td>
    <td>
      biuro@agstechnika.pl
    </td>
  </tr>
</table>

{% if rental.cases.all %}
<h4>Kejsy: </h4>
<table class="line-items-container">
  <thead>
    <tr>
      <th class="heading-quantity">ID</th>
      <th class="heading-description">Nazwa</th>
    </tr>
  </thead>
  <tbody>
    {% for case in rental.cases.all %}
    <tr>
      <td>{{ case.id }}</td>
      <td>{{ case.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if rental.devices.all %}
<h4>Urządzenia:</h4>
<table class="line-items-container">
  <thead>
    <tr>
      <th class="heading-quantity">ID</th>
      <th class="heading-description">Nazwa</th>
    </tr>
  </thead>
  <tbody>
    {% for device in rental.devices.all %}
    <tr>
      <td>{{ device.id }}</td>
      <td>{{ device.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<table class="line-items-container has-bottom-border">
  <thead>
    <tr>
      <th>Data zwrotu</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% comment %} <td class="payment-info">
        <div>
          Account No: <strong>123567744</strong>
        </div>
        <div>
          Routing No: <strong>120000547</strong>
        </div>
      </td> {% endcomment %}
      <td class="large">{{ rental.return_date|date:"d M, Y" }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>l




