{% extends "base.html" %}
{% block content %}

<a class="btn btn-primary" href="{% url 'case-add' %}" role="button">Dodaj Kejsa</a>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Detal</th>
      </tr>
    </thead>
    <tbody>
      {% for case in object_list %}
      <tr> 
        <th scope="row">{{ case.id }}</th>
        <td>{{ case.name }}</td>
        <td><a href="{% url 'case-detail' case.id %}" /> Detal</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}