{% extends "base.html" %}
{% block content %}


<a class="btn btn-primary" href="{% url 'devices-add' %}" role="button">Dodaj urządzenie</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Detal</th>
      </tr>
    </thead>
    <tbody>
      {% for device in object_list %}
      <tr> 
        <th scope="row">{{ device.id }}</th>
        <td>{{ device.name }}</td>
        <td><a href="{% url 'device-detail' device.id %}" /> Detal</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
